{% extends 'main/base.html' %}
{% block title %}
    User Profile
{% endblock %}

{% block content %}
    {% if user.is_customer %}
    <h1 style align='center'>Welcome, {{ user.username }}</h1>
    <table><thead>
        <tr>
            <td>Age: {{profile.birth}} </td>
        </tr></thead>
    <tbody>
        <tr>
            <td>Email: {{ user.email }}</td>
        </tr>
    </tbody>
    </table>
    {% else %}
    <h1>Welcome, {{ user.username }} Company</h1>
    <table><thead>
        <tr>
            <td>Email: {{ user.email }}</td>
        </tr></thead>
    <tbody>
        <tr>
            <td>Field: {{user.company.field}} Company</td>
        </tr>
    </tbody>
    </table>
            
            
        
       {% endif %}
    {% if 'customer' in request.path %}
        <p class="title">Previous Requested Services</p>
    {% else %}
        <p class="title">Available Services</p>
    {% endif %}
    {% if user.is_customer %}
        {% for service in sh %}
            <div>
                <a href="/services/{{service.service.id}}">{{service.service.name}}</a> ({{service.service.field}})
                <p style="margin: 0; display: inline-block;"> ❱❱ {{service.price}}</p>
                <p style="margin: 0; display: inline-block;"> ❱❱ {{ service.request_date }}</p>
                <p style="float: right; margin: 0;">
                    by <a href="/company/{{service.service.company.user}}">{{service.service.company.user}}</a>
                </p> 
            </div>
            <div class="line"></div>
        {% endfor %}
    {% else %}
        {% for service in services %}
        <div class="list_services_profile">
            <a href="/services/{{service.id}}">{{service.name}}</a>-- {{service.price_hour}}€/hour
            <div class="line"></div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}