{% extends 'main/base.html' %} 
    {% block title %}
        NetFix
    {% endblock %}

{% block content %}
    <div style="margin-top: 50px;">
        <table><thead>
            <tr>
              <td><img class="home_logo" src="static/css/logo.png" alt="logo"></td>
              <td><p  class="title">NETFIX</p></td>
            </tr></thead>
          </table>
    </div>
    <div>
        <p style="float: right; margin: 0;">
            by <a href="https://github.com/Zanakan12">Zanakan12</a>
        </p> 
    </div>
    <div class="line"></div>
{% endblock %}
