{% extends 'main/base.html' %}

{% block title %}
    Services List
{% endblock %}

{% block content %}
    <p class="title">Services</p>
    {% if user.is_company %}
        <a class="create_service" href="/services/create">Create Service</a>
    {% endif %}
    <div class='services_list'>
        {% if services %}
            <table style="text-align: left;" align="center" border="1">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Price/Hour</th>
                        <th>Company</th>
                        <th>Service Rate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td><a href="/services/{{ service.id }}">{{ service }}</a></td>
                            <td>{{ service.price_hour }}$</td>
                            <td>{{ service.company.user }}</td>
                            <td>
                                {% if service.rating == 1 %}
                                    ⭐☆☆☆☆
                                {% elif service.rating == 2 %}
                                    ⭐⭐☆☆☆
                                {% elif service.rating == 3 %}
                                    ⭐⭐⭐☆☆
                                {% elif service.rating == 4 %}
                                    ⭐⭐⭐⭐☆
                                {% elif service.rating == 5 %}
                                    ⭐⭐⭐⭐⭐
                                {% else %}
                                    No rate yet.
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Contrôles de Pagination -->
            <div class="pagination">
                <span class="page-links">
                    {% if services.has_previous %}
                        <a href="?page=1">&laquo; Première</a>
                        <a href="?page={{ services.previous_page_number }}">Précédente</a>
                    {% else %}
                        <span class="disabled">&laquo; Première</span>
                        <span class="disabled">Précédente</span>
                    {% endif %}

                    <span class="current">
                        Page {{ services.number }} sur {{ services.paginator.num_pages }}.
                    </span>

                    {% if services.has_next %}
                        <a href="?page={{ services.next_page_number }}">Suivante</a>
                        <a href="?page={{ services.paginator.num_pages }}">Dernière &raquo;</a>
                    {% else %}
                        <span class="disabled">Suivante</span>
                        <span class="disabled">Dernière &raquo;</span>
                    {% endif %}
                </span>
            </div>

        {% else %}
            <h2>Sorry No services available yet</h2>
        {% endif %}
    </div>
{% endblock %}
