{% extends 'main/base.html' %}
{% block title %}
    {{ service.name }}
{% endblock %}
{% block content %}

    <div class='service_info_header'>
        <h1>Service: {{service.name}}</h1> 
        <h2 style="text-align: right;">by <a href="/company/{{service.company.user}}">{{service.company.user}}</a></h2>
    </div>
    <h2>{{service.field}}</h2>
    <p style="text-align: left;">Price_Hour: {{service.price_hour}}€/hour</p>
    <p style="text-align: left;">Creation Date: {{service.date}}</p>
    <p style="text-align: left;">Description:<blockquote border="2">{{service.description}}</blockquote>
    <p style="text-align: center;">{% if request.user.is_customer %}
        <a href="/services/{{service.id}}/request_service/" class="like_button">Request Service</a>
        <p style="float: right; margin: 0;">
            <a href="{{service.id}}/rating">Rate this service</a>
        </p> 
    {% endif %}
{% endblock %}